name: publish

on:
  push:
    branches:
      - main
  workflow_dispatch:  

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
        
    - name: Restore dependencies
      run: dotnet restore src/SearchKit.sln
      
    - name: Build
      run: dotnet build src/SearchKit.sln --configuration Release --no-restore
      
    - name: Pack
      run: dotnet pack src/SearchKit.Models/SearchKit.Models.csproj --configuration Release --no-build --output ./nupkg
      
    - name: Publish to NuGet.org
      run: dotnet nuget push ./nupkg/*.nupkg --api-key ${{ secrets.NUGET_ORG_TOKEN }} --source https://api.nuget.org/v3/index.json --skip-duplicate
